@media only screen and (max-width: 600px) {
            .c2div21{
                margin-right:2%;
		font-size:1rem;
		margin-left:10%;
            }	
	  .c2a21
		{
		margin-left:33%;
		}
			
}
